.solid{

   width: 1280px;
   
  
 margin-left: auto;   /* דוחף את האלמנט לימין */
   margin-right: 10vh;
  
}

body {
  margin:0;
  
  padding: 0;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; /* נשאר קבוע בזמן גלילה */
}