.pic{
    display: flex;
    flex-direction: column;
    width:100%;
    height: 100vh;
       background-image: url(../unit/500.jpg); 
      background-position: center;
  background-repeat: no-repeat;
  background-size: cover;    /* תופס כל הרוחב/גובה בלי לעוות */
}
.title{
  background-color: rgb(255, 166, 0);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:10vh;
    margin: 0;
    font-weight: bold;
   
}
.play{
width: 20%;
cursor: pointer;
  display: block;
  margin-left: auto;
margin-top: -60vh;
margin-right: 35vh;
border-radius: 30px;

  display: block;
}
.pic-home{
  width: 35%;
  display: block;
  margin-left: 15%;

  
}

.page {
  transition: filter 0.3s ease;
  display: flex;
    flex-direction: column;
}

.page.blur {

}

.buttons {


  display: flex;
  gap: 15px;
}

.buttons button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  width: 30vh;
  font-size: 2vh;
  background: #000000;
  color: white;
  cursor: pointer;
}
.buttons1 {



  display: flex;
  gap: 15px;
  margin-top: 2vh;
}

.buttons1 button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  width: 30vh;
  font-size: 2vh;
  background: #000000;
  color: white;
  cursor: pointer;
  direction: rtl;
}
.buttons2 {
  


  display: flex;
  gap: 15px;
  margin-top: 2vh;
}
.t{
  direction: rtl;
}

.buttons2 button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  width: 30vh;
  font-size: 2vh;
  background: #000000;
  color: white;
  cursor: pointer;
    direction: rtl;
}

* button:hover {
  background: #ff6600;
  box-shadow: 10px 10px 20px rgba(255, 102, 0, 0.4);
}
.Bs {
  

  width: 60%;
  margin-left: 9.5%;
  margin-top: -8%;

}


/* overlay */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: rgb(255, 250, 233);
  padding: 30px;
  border-radius: 14px;
  width: 80%;
  max-width:40%;
  text-align: center;
  border: #252424 7px solid;
  
  animation: pop 0.3s ease;
  font-size: 5vh;
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text-modal{
    font-size: 3.5vh;
    margin-top: 2vh;
    text-align: center;
    direction: rtl;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@keyframes pop {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}



@media (max-width: 768px) {
  .pic-home{
    width:70%;
    
   
    padding-top: 20%;
    
  }
  .play{
   
width:60%;
cursor: pointer;
  display: block;
margin: auto;
 margin-top: -2vh;
  display: block;
}
  .title{
    font-size:7vh;
  }
  .pic{
   
    height: 100%;
       background-image: url(../unit/500.jpg); 
        background-size:cover;
    background-position: 70% center;
  
}
.modal {
  background: rgb(255, 250, 233);
  padding: 30px;
  border-radius: 14px;
  
  max-width:80%;
  ;
  text-align: center;
  border: #252424 7px solid;
  
  animation: pop 0.3s ease;
  font-size: 3vh;
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text-modal{
    font-size: 2.5vh;
    margin-top: 2vh;
    text-align: center;
    direction: rtl;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.buttons button,
.buttons1 button,
.buttons2 button {
  width: 30vh;
 font-size: 2vh;
 font-weight: bold;
}

.Bs {
  
  
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center ;

}
.gg{
    display: flex;
    flex-direction: column;
}
}