.video-wrapper {
  position: relative;
   width: 100%;
  max-width: 900px;
 
  margin: 20px auto;
  padding-top: 20%; /* 16:9 */
}
* {
  box-sizing: border-box;
}
.pic{
  width: 100%;
  height: auto;
  text-align: center;
}


.map{


width: 100%;
}

.map-g{
  width: 70%;
}

.kikar{
   width:70vh;
    height:43.5vh; 
  border-radius: 10px;
  cursor: pointer;
}

kikar-video{
  cursor: pointer;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height:100%;
  border-radius: 12px;
}
.pic-tank{
  
  display: flex;  
  justify-content: center;
  align-items: center;
}
.gvur{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 8svh;
  text-align: center;
 margin-top: 10vh;
   color: rgb(127, 116, 102);
}
.tank1{
  width: 55vh;
  margin-bottom: -10vh;

}

.videos{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  margin-bottom: 60px;
}
.ot{
 font-size:6vh;
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
    color: rgb(127, 116, 102);
  text-align: center;
}







.container-talash {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  
  padding: 40px;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.image-button {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.image-button img {
  width: 35vh;
  height: 35vh;
  object-fit: cover;
  border-radius: 16px;
  transition: 0.3s;
}

.image-button:hover {
  transform: scale(1.05);
   border-radius: 16px;
}

.image-button.active img {
  border: 3px solid #ffffff;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
  border-radius: 16px;
}














@media (max-width: 786px) {
.kikar{
   width:100%;
   height:30vh;
}

.kikar-video{
  width:100%; 
}

  .container-talash {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  padding: 40px;
}
.video-wrapper {
  position: relative;
  width: 100%;
  max-width:100%;
  height: 30vh;
  
  margin: 0px;
  padding-top: 20%; /* 16:9 */
}

.map-g{
  width: 100%;
}
  

.video-wrapper iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height:100%;
  border-radius: 12px;
}
.pic-tank{
  
  display: flex;  
  justify-content: center;
  align-items: center;
}
.gvur{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 6vh;
  text-align: center;
 
}
.tank1{
  width: 38vh;
  margin-bottom: -10vh;

}

.videos{
  flex-direction: column;
  height: auto;

}

}